@model ecommerce.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "AdminLayout";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Create Order</h6>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <label asp-for="UserId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="TotalAmount" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="TotalAmount" class="form-control" />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Status" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>